// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  font-family: 'Roboto', sans-serif; // Using this variable
}

.link {
  text-decoration: none;
  color: blue;
  &:hover {
    text-decoration: underline;
  }
}
